
#board
  = image_tag 'posterheading.png', :class => 'board'
  = image_tag 'tape.png', :class => 'tape1'
  = image_tag 'tape.png', :class => 'tape2'
  #postits
    //= image_tag 'postits.png'

  - port_string = request.port != 80 ? ':' + request.port.to_s : '' 

  #value
    Find the roadblocks. Work through them. 
  
  #issue_input
    = form_tag "http://help.#{request.host}#{port_string}/proposals", :method => :post do

      = text_area_tag 'proposal[description]', nil, :placeholder => 'What issue do you want to consider?'

      = submit_tag 'Invite people to help think through it'

#chalkboard
  = image_tag 'chalkboard.png', :class => 'chalkboard'

  #chalk_left
        

#floor

  #moulding

  #base
    %span{ :'data-defer-src' => "#{image_path 'wood_floor.jpg'}"}
    %noscript
      = image_tag 'wood_floor.jpg'

  #blue_chalk_on_floor
    %span{ :'data-defer-src' => "#{image_path 'blue_chalk_on_floor.png'}"}
    %noscript
      = image_tag 'blue_chalk_on_floor.png'

  #credits
    %span{ :'data-defer-src' => "#{image_path 'credits.png'}"}
    %noscript
      = image_tag 'credits.png'

  #table
    %span{ :'data-defer-src' => "#{image_path 'table.png'}"}
    %noscript
      = image_tag 'table.png'

    #organization_account_paper
      %span{ :'data-defer-src' => "#{image_path 'org_action.png'}"}
      %noscript
        = image_tag 'org_action.png'


:javascript

  $(document).ready(function(){
    download_delayed_images();
    init_chalk();
    //init_postits();
  });

  function download_delayed_images(){
    console.log($('[data-defer-src]'))
    $('[data-defer-src]').replaceWith(function(index){
      return $('<img>').attr('src', $(this).attr('data-defer-src'));
    });

  }

  function init_postits(){
    var r = Raphael("postits", 210, 310);

    var img = r.image("#{image_path('postits.png')}", 0, 0, 190, 256);
    //var anim = Raphael.animation({transform:'R360, 0, 0'}, 1000, "easeInOut");

    //img.animate(anim);//.delay(3000).repeat(10));
    img.show();
  }

  function init_chalk(){
    var r = Raphael("chalk_left", 100, 480);

    var string = r.path("M50,353l0,-398"),
        img = r.image("#{image_path('yellow_chalk.png')}", 42.5, 350, 15, 49),
        puddy = r.circle(50,3,3).attr({fill:'rgba(50,50,50, .8)', stroke:"none"}),
        set = r.set(),
        is_oscilating = false,
        angle, modifier, dampening, speed;
    
    set
      .dropShadow(500, 23, 23) //don't think this is working
      .push(img)
      .push(string)
      .push(puddy);

    string.attr({stroke: '#bbb', fill: "none", "stroke-width": 2});
      
    function startMovement(e){
      if (!is_oscilating ){

        is_oscilating = true;
        $(document).unbind('mousemove', startMovement);
        modifier = 1; angle = .6; dampening = .85; speed = 800;
        oscillate();
      }
    }

    function oscillate(){
      if ( angle > .02  ) {
        set
          .animate({transform: 'r' + angle * modifier +',50,0'}, speed, "easeInOut", oscillate);
        modifier *= -1;
        angle *= dampening;
      } else {
        is_oscilating = false;
        $(document).mousemove(startMovement); 
      }
    }

    $(document).mousemove(startMovement);

    $(document).scroll(function(){
      angle = .6;
    });


  }


.home
  
  .accounts
    %h3
      Existing Accounts
    %table
      %tr
        %th id
        %th identifier
        %th theme

      - Account.all.each do |accnt|
        %tr
          %td
            = accnt.id
          %td
            = link_to accnt.identifier, accnt.base_url(request.host_with_port)
          %td 
            = accnt.theme

  .new
    Want to 
    = link_to 'create a new account?', new_account_path
