
#board
  = image_tag 'board.png', :class => 'board'
  = image_tag 'tape.png', :class => 'tape1'
  = image_tag 'tape.png', :class => 'tape2'
  #postits

  %h1
    Consider This...

  %textarea
    What issue do you want to consider?

  %button
    Invite people to help think through it

#chalkboard
  = image_tag 'chalkboard.png', :class => 'chalkboard'

  #chalk_left
        

#floor

  #base
    = image_tag 'floor.jpg'

  #blue_chalk_on_floor
    = image_tag 'blue_chalk_on_floor.png'
    
  #chair
    = image_tag 'chair.png'

    #organization_account_paper
      = image_tag 'organizational_account.png'


  #credits
    = image_tag 'credit_hover.png', :class => 'hover'

    = image_tag 'credits.png', :class => 'base'
:javascript

  $(document).ready(function(){
    init_chalk();
    init_postits();
  });

  function init_postits(){
    var r = Raphael("postits", 210, 310);

    var img = r.image("#{image_path('postits.png')}", 0, 0, 190, 256);
    var anim = Raphael.animation({transform:'R360, 0, 0'}, 1000, "easeInOut");

    img.animate(anim);//.delay(3000).repeat(10));
  }

  function init_chalk(){
    var r = Raphael("chalk_left", 100, 480);

    var string = r.path("M50,353l0,-398"),
        img = r.image("#{image_path('yellow_chalk.png')}", 42.5, 350, 15, 49),
        puddy = r.circle(50,3,3).attr({fill:'rgba(50,50,50, .8)', stroke:"none"}),
        set = r.set(),
        is_oscilating = false,
        angle, modifier, dampening, speed;
    
    set
      .dropShadow(500, 23, 23) //don't think this is working
      .push(img)
      .push(string)
      .push(puddy);

    string.attr({stroke: '#bbb', fill: "none", "stroke-width": 2});

    $(document).mousemove(startMovement);
      
    function startMovement(e){
      if (!is_oscilating ){

        is_oscilating = true;
        $(document).unbind('mousemove', startMovement);
        modifier = 1; angle = .6; dampening = .85; speed = 800;
        oscillate();
      }
    }

    function oscillate(){
      if ( angle > .01 ) {
        set
          .animate({transform: 'r' + angle * modifier +',50,0'}, speed, "easeInOut", oscillate);
        modifier *= -1;
        angle *= dampening;
      } else {
        is_oscilating = false;
        $(document).mousemove(startMovement); 
      }
    }

  }


.home
  
  .accounts
    %h3
      Existing Accounts
    %table
      %tr
        %th id
        %th identifier
        %th theme

      - Account.all.each do |accnt|
        %tr
          %td
            = accnt.id
          %td
            = link_to accnt.identifier, accnt.base_url(request.host_with_port)
          %td 
            = accnt.theme

  .new
    Want to 
    = link_to 'create a new account?', new_account_path
