
#board
  = image_tag 'posterheading.png', :class => 'board'
  = image_tag 'tape.png', :class => 'tape1'
  = image_tag 'tape.png', :class => 'tape2'
  #postits
    //= image_tag 'postits.png'

  - port_string = request.port != 80 ? ':' + request.port.to_s : '' 

  #value
    Find the roadblocks. Work through them. 
  
  #issue_input

    %form{:"accept-charset" => 'UTF-8', :action => "https://help.#{request.host}#{port_string}/proposals", :method => :post}

      = text_area_tag 'proposal[description]', nil, :placeholder => 'What issue do you want to consider?'

      = submit_tag 'Invite people to help think through it'

#chalkboard
  = image_tag 'chalkboard.png', :class => 'chalkboard'

  #chalk_left
        

#floor

  #moulding

  #base
    %span{ :'data-defer-src' => "#{image_path 'wood_floor.jpg'}"}
    %noscript
      = image_tag 'wood_floor.jpg'

  #blue_chalk_on_floor
    %span{ :'data-defer-src' => "#{image_path 'blue_chalk_on_floor.png'}"}
    %noscript
      = image_tag 'blue_chalk_on_floor.png'

  %a#credits{ :href => 'http://abstract.cs.washington.edu/~travis/', :target => '_blank'}
    %span{ :'data-defer-src' => "#{image_path 'credits.png'}"}
    %noscript
      = image_tag 'credits.png'

  #table
    %span{ :'data-defer-src' => "#{image_path 'table.png'}"}
    %noscript
      = image_tag 'table.png'

    %a#organization_account_paper{ :href => 'mailto:admin@chalkboard.it', :target => '_blank'}
      %span{ :'data-defer-src' => "#{image_path 'org_action.png'}"}
      %noscript
        = image_tag 'org_action.png'