= form_for @account, :url => { :action => "create" } do |f|

  = f.label :identifier, 'Name your community'
  = f.text_field :identifier

  = f.label :theme, 'Select a theme'
  = f.select :theme, options_for_select(@themes)

  = f.submit